<html>
<head>
	<title>电影吧</title>
	<style type="text/css">
	    header{
	    	padding:20px;
	    }
	    .nav li{
	    	list-style-type: none;
	    	padding:10px;
	    	color:#02B9CB;
	    	font-size: 15px;
	    	cursor: pointer;
	    }
	</style>
</head>
<body>
<header>
	<ul class="nav">
		<li><%= data[0] %></li>
		<li><%= data[1] %></li>
	</ul>
</header>
</body>
</html>